
[MASTER]
load-plugins=pylint_django

# Specify the Django settings module
django-settings-module=config.settings
# Ignore unnecessary files and directories
ignore=migrations, manage.py, tests

# Persistent data for later comparisons
persistent=yes

# Python version used for linting
py-version=3.10

# Use multiple processes to speed up linting (adjust as needed)
jobs=4

[MESSAGES CONTROL]
# Disable specific checks
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        invalid-name,
        too-few-public-methods,
        fixme,
        missing-module-docstring,



# Confidence levels to display
confidence=HIGH,CONTROL_FLOW,INFERENCE,INFERENCE_FAILURE,UNDEFINED

[VARIABLES]
# Dummy variables matching regex
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

# Ignore unused global variables
allow-global-unused-variables=yes

# Ignore unused arguments starting with `_`, `ignored_`, or `unused_`
ignored-argument-names=_.*|^ignored_|^unused_

[FORMAT]
# Maximum line length
max-line-length=120

# Expected format of line endings
expected-line-ending-format=

# String used for indentation
indent-string='    '

# Ignore long lines if they match URLs
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[TYPECHECK]
# Ignore dynamic Django model attributes
generated-members=objects, DoesNotExist, MultipleObjectsReturned

[IMPORTS]
# Ignore unnecessary imports
known-third-party=enchant

[DESIGN]
# Maximum number of arguments for functions/methods
max-args=5

# Maximum number of attributes for a class
max-attributes=7

# Maximum number of boolean expressions in if statements
max-bool-expr=5

# Maximum number of parents for a class
max-parents=7

# Maximum number of public methods for a class
max-public-methods=20

# Minimum number of public methods for a class
min-public-methods=2
